
body {
font-family: sans-serif;
}


h1{
color: rgb(15, 108, 30);
font-family: sans-serif;

}
div.everything{
  padding:30px 50px;
  margin:10px auto;
  width:75%;
  border:10px solid black;
}
li{
color: rgb(60, 172, 9);
}


img{
display:block;
width: 80%;
margin:10px auto;
}

a {
  color: rgb(15, 108, 30);
  text-decoration: none;
  font-family: cursive;
  font-style: normal;

}

@media only screen and (min-width: 600px) {
  img{
  width: 35%;
  float:right;
  padding-bottom: 50px;
}
div.everything{
  margin:10px auto;
  width:75%;
  max-width:850px;
  padding:30px 50px;
  overflow:auto;
}
}
